$color-egg: #ffb20f;
$color-eggTint: tint($color-egg, 40%);
$color-eggShade: shade($color-egg, 40%);
$color-pig: #f92d4e;
$color-pigTint: tint($color-pig, 40%);
$color-pigShade: shade($color-pig, 40%);
$color-indigo: #342e72;
$color-indigoTint: tint($color-indigo, 40%);
$color-indigoShade: shade($color-indigo, 40%);
$color-camo: #436436;
$color-camoTint: tint($color-camo, 40%);
$color-camoShade: shade($color-camo, 40%);
$color-eggShell: #fff5e2;
$color-burntBacon: #37060c;

$color-black: #000000;
$color-black90: shade($color-burntBacon, 90%);
$color-black80: shade($color-burntBacon, 80%);
$color-black70: shade($color-burntBacon, 70%);
$color-black60: shade($color-burntBacon, 60%);
$color-black50: shade($color-burntBacon, 50%);
$color-black40: shade($color-burntBacon, 40%);
$color-black30: shade($color-burntBacon, 30%);
$color-black20: shade($color-burntBacon, 20%);
$color-black10: shade($color-burntBacon, 10%);
$color-white: #ffffff;
$color-white90: tint($color-eggShell, 90%);
$color-white80: tint($color-eggShell, 80%);
$color-white70: tint($color-eggShell, 70%);
$color-white60: tint($color-eggShell, 60%);
$color-white50: tint($color-eggShell, 50%);
$color-white40: tint($color-eggShell, 40%);
$color-white30: tint($color-eggShell, 30%);
$color-white20: tint($color-eggShell, 20%);
$color-white10: tint($color-eggShell, 10%);
